/* EditModal.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.create-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .create-modal {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    border-radius: .25rem;
    width: 850px;
    height: auto;/* Set a maximum width if desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .create-modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .create-modal form {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }
  .cm-content {
    display: flex;
    flex-direction: column;
  }
  .create-modal p {
    margin: .5rem 0 .5rem 0;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  .create-modal label {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .create-modal input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    box-sizing: border-box; 
    max-height: 34px;
  }
  .create-modal textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 68px;
    max-height: 68px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 0 0 0;
  }
  .cm-create {
    background-color: #45a049;
    color: #fff;
    padding: .5rem;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .cm-create:hover {
    background-color: #3F704D;
  }
  .cm-close {
    background-color: #fff;
    color: #FF0000;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }
  .cm-close:hover {
    background-color: #FF0000;
    color: #fff;
  }
  .cm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2d2d2;
    padding: 1rem;
    border-radius: .25rem .25rem 0 0;
  }
  .cm-header-title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .cm-header-title h2{
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
  }
  .cm-header-close {
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 10%;
  }
  .cm-header-close i{
    font-size: 1.75rem;
  }
  .cm-header-close i:hover{
    color: #FF0000;
  }
  .cm-form-action {
    display: flex;
    max-height: 34px;
    justify-content: end;
    align-items: end;
    padding: 0 1rem 1rem 0;
  }
  .cm-dept {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .cm-gender {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .cm-nationality {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .cm-maritalstatus {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .cm-empstatus {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .cm-1strow {
    display: flex;
    flex-direction: column;
    padding: 0 .15rem 0 0;
    width: 425px;
  }
  .cm-1strow-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cm-1strow-body {
    display: flex;
    flex-direction: row;
  }
  .cm-1strow-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-1strow-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-2ndrow {
    display: flex;
    flex-direction: column;
    padding: 0 .15rem 0 0;
    width: 425px;
  }
  .cm-2ndrow-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cm-2ndrow-body {
    display: flex;
    flex-direction: row;
  }
  .cm-2ndrow-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-2ndrow-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-3rdrow {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 .15rem;
    width: 425px;
  }
  .cm-3rdrow-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cm-3rdrow-body {
    display: flex;
    flex-direction: row;
  }
  .cm-3rdrow-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-3rdrow-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-4throw {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 .15rem;
    width: 425px;
  }
  .cm-4throw-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cm-4throw-body {
    display: flex;
    flex-direction: row;
  }
  .cm-4throw-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-4throw-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-5throw {
    display: flex;
    flex-direction: column;
  }
  .cm-5throw-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cm-5throw-body {
    display: flex;
    flex-direction: row;
  }
  .cm-5throw-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-5throw-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .cm-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
    padding-right: .5rem;
  }
  .cm-datafield-wrapper {
    margin: 0 0 0 0;
  }
  .cm-label-wrapper {
    padding: .25rem .5rem .25rem .25rem;
    background-color: #d2d2d2;
  }
  .cm-input-wrapper {
    display: flex;
    flex-direction: row;
    padding: .25rem .25rem 0 0;
    background-color: #ebebeb;
  }
  .cm-phonenum-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .cm-tinID-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .cm-dialcode {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0 .25rem 0 .25rem;
    box-sizing: border-box; 
    max-height: 34px;
  }
  .cm-1stcol {
    display: flex;
    flex-direction: row;
    padding: 0 .5rem 0 .5rem;
  }
  .cm-2ndcol {
    display: flex;
    flex-direction: row;
    padding: 0 .5rem 0 .5rem;
  }
  .cm-helptext-wrapper {
    display: flex;
    flex-direction: row;
    padding: 2px 0 .5rem 0;
    background-color: #ebebeb;
  }
  .cm-helptext-wrapper label {
    font-size: 11px;
    color: #ebebeb;
  }