/* DetailsModal.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.details-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.details-modal {
    background-color: #ebebeb;
    border-radius: .25rem;
    width: 850px;
    height: auto; /* Set a maximum width if desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #d2d2d2;
    border-radius: .25rem .25rem 0 0;
  }
  
  .dm-header-title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .dm-header-title h2{
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
  }
  
  .dm-header-close {
    background-color: transparent; 
    display: flex;
    justify-content: end;
    align-items: center;
    width: 10%;
  }
  .dm-header-close i{
    font-size: 1.75rem;
  }
  .dm-header-close i:hover{
    color: #FF0000;
  }
  .dm-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .dm-content p {
    margin: 0;
  }
  .employee-profilepic{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .employee-profilepic img{
    width: 5rem;
    height: auto;
  }
  .dm-content-1strow {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .dm-content-1strow-1stcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 15%;
  }
  .dm-content-1strow-2ndcol {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 35%;
  }
  .dm-content-1strow-2ndcol p {
    margin: 0px;
  }
  .dm-content-1strow-3rdcol {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 50%;
  }
  .dm-content-2ndrow {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid #000;
    border-radius: .25rem;
  }
  .dm-content-2ndrow-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 .15rem 0 0;
  }
  .dm-content-2ndrow-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 .15rem;
  }
  .dm-content-3rdrow {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid #000;
    border-radius: .25rem;
  }
  .dm-content-3rdrow-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 .15rem 0 0;
  }
  .dm-content-3rdrow-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 .15rem;
  }
  .dm-content-4throw {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid #000;
    border-radius: .25rem;
  }
  .dm-content-4throw-1stcol {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 .15rem 0 0;
  }
  .dm-content-4throw-2ndcol {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 .15rem;
  }
  /* Add more styles as needed */
  .dm-datafield-wrapper {
    margin: 0 0 0 0;
  }
  .dm-label-wrapper {
    padding: .25rem .5rem .25rem .25rem;
    background-color: #d2d2d2;
  }
  .details-modal label {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .dm-data-wrapper{
    padding: .25rem .5rem .5rem .5rem;
    font-size: 14px; 
    max-height: 34px;
  }
  .dm-data-wrapper p{
    padding: 0;
    font-size: 14px; 
  }
  .dm-row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .dm-row-header p {
    margin: .5rem 0 .5rem 0;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  .dm-2nd-section {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem 0 .5rem;
  }
  .dm-3rd-section {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem 0 .5rem;
  }
  .dm-4th-section {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem 0 .5rem;
  }
  .dm-5th-section {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem 0 .5rem;
  }
  .dm-2nd-row {
    display: flex;
    flex-direction: row;
  }
  .dm-3rd-row {
    display: flex;
    flex-direction: row;
  }
  .dm-4th-row {
    display: flex;
    flex-direction: row;
  }
  .dm-5th-row {
    display: flex;
    flex-direction: row;
  }
  .dm-5th-row-L {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 .15rem 0 0;
  }
  .dm-5th-row-R {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 .15rem;
  }